<h2>Редагування посту</h2>
<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
  <% if @post.errors.any?%>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%=msg%></div>
      <%end%>
    <% end %>
    <p>
      Назва<br>
      <%= f.text_field(:title,{:class => 'form-control'}) %>
    </p>
    <p>
      Текст статті<br>
      <%= f.text_area(:body,{:class => 'form-control'}) %>
    </p>
    <p>
      Добавити теги<br>
      <%= f.text_field(:all_tags,{:class => 'form-control'}) %>
    </p>
     <p>
      Загрузити картинку<br>
      <%= f.file_field(:image,{:class => 'btn btn-primary btn-sm'}) %>
    </p>
    <p>
      <%= f.submit({:class =>'btn btn-success'}) %>
    </p>
  <% end %>
