<h1><%= @post.title %> </h1>
<p><%= @post.body%></p>
<%= image_tag @post.image.url(:large), class: 'img-show w-100' if @post.image? %>
<hr>
<% if user_signed_in? %>
  <%= link_to "Редагувати", edit_post_path(@post), :class => 'btn btn-warning btn-sm'%>
  <%= link_to "Видалити", post_path(@post), method: :delete, data:{confirm: "Хочете видалити статтю?"}, :class => 'btn btn-danger btn-sm'%>
  <hr>
<%end%>
<h1>Всі коментарі</h1>
<% @post.comments.each do |comment| %>
    <p><strong  <%#style="font-size: 200%;"%> ><%= comment.username %>: </strong>
    <span class="text-secondary font-italic"><%= comment.body %></span><p>
<% end %>
<h4>Додати коментар</h4>
<%= form_for ([@post, @post.comments.build]) do |f| %>
    <p>
      Ваш псевдонім<br>
      <%= f.text_field(:username,{:class => 'form-control'}) %>
    </p>
    <p>
      Текст коментару<br>
      <%= f.text_area(:body,{:class => 'form-control'}) %>
    </p>
    <p>
      <%= f.submit("Добавити коментар",{:class =>'btn btn-primary'}) %>
    </p>
  <% end %>
